.modal-section-left
  .user-profile-pic
    = card_activity_item.user.name.chars.first
.modal-section-right
  .user-name-card-activity
    = card_activity_item.user.name
  .card-activity-text
    = card_activity_item.content
  .clear-1
  .card-activity-time-ago
    = time_ago_in_words(card_activity_item.created_at)
    ago
  .clear-10
  .card-line
.clear-10
