.home-page-wrapper
  .nav-holder
    = link_to root_path, class: "trello-logo-white" do
      = image_tag('trello-logo-white')
    .links-container
      = link_to "Sign Up", new_user_registration_path, class: "signup-link"
      = link_to "Log In", new_user_session_path, class: "login-link"
  %h1
    Trello lets you work more collaboratively and get more done.
  %p
    Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way.
