.modal-section-header
  .icon-checklist.icon
  %span
    = checklist.title
.checklist-progress-bar-holder
  %span
    0%
  .checklist-progress-bar
    .checklist-progress{style:"width:50%;"}
.checklist-items-holder
  .checklist-item
    .checkbox
      .icon-check.icon
    .checklist-item-name-holder
      .checklist-item-name
        Test Name 
