.modal-section-header
  .icon-checklist.icon
  %span
    = checklist.title
.checklist-progress-bar-holder
  %span
    0%
  .checklist-progress-bar
    .checklist-progress{style:"width:50%;"}
.checklist-items-holder
  .checklist-item
    .checkbox
      .icon-check.icon
    .checklist-item-name-holder
      .checklist-item-name
        Test Name
= form_with(model: checklist.checklist_items.new, url: card_checklist_checklist_items_path(@card,checklist)) do |f|
  = f.text_field :name
