/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require font-awesome
 */
 @import "font-awesome";
$primary-font: Helvetica, sans-serif;
$primary-color: #4d4d4d;
$primary-blue-color: #026aa7;
$link-color: #298fca;
body{
  margin: 0px;
  font-family: $primary-font;
  color: $primary-color;
}

.clear-10{
  clear: both;
  height: 10px;
}

a{
  color: $link-color;
}

.nav-bar{
  background: $primary-blue-color;
  height: 35px;
  padding-top: 5px;

  .boards-link{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    height: 20px;
    float: left;
    margin-left: 10px;
    padding: 8px 15px 2px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
  }
  img.nav-bar-logo{
    opacity: .5;
    position: absolute;
    left: auto;
    right: auto;
    display: block;
    height: 30px;
    left: 50%;
  }
}
