/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */
@import "font-awesome";
$primary-font: Helvetica, sans-serif;
$primary-color: #4d4d4d;
$primary-blue-color: #026aa7;
$link-color: #298fca;
body{
  margin: 0px;
  font-family: $primary-font;
  color: $primary-color;
}
body.modal-visible{
  background-color: rgba(0,0,0,.6);
}
input,textarea{
  color: #4d4d4d;
  font-size: 14px;
}
.clear-1{
  clear: both;
  height: 1px;
}
.clear-5{
  clear: both;
  height: 5px;
}
.clear-10{
  clear: both;
  height: 10px;
}
.clear-20{
  clear: both;
  height: 20px;
}
.clear-30{
  clear: both;
  height: 40px;
}
.clear-50{
  clear: both;
  height: 50px;
}

a{
  color: $link-color;
}

.nav-bar{
  background: $primary-blue-color;
  height: 35px;
  padding-top: 5px;
  .boards-link{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    height: 20px;
    float: left;
    margin-left: 10px;
    padding: 8px 15px 2px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
  }
  img.nav-bar-logo{
    opacity: .5;
    position: absolute;
    left: auto;
    right: auto;
    display: block;
    height: 30px;
    left: 50%;
  }
}

.card-form-holder{
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  width: 300px;
  -webkit-transform: translateZ(0);
  clear: both;
  padding: 5px;
  position: absolute;

  .card-form-header{

    .card-form-title{
      text-align: center;
      color: #838c91;
      display: block;
      line-height: 36px;
      border-bottom: 1px solid #d6dadc;

      .close-button-holder{
        width: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }

    }

  }
  .card-form-label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .card-form-input{

    input,textarea{
        box-sizing: border-box;
        box-sizing: border-box;
        background-color: #e2e4e6;
        border: 1px solid #cdd2d4;
        border-top-color: rgb(205, 210, 212);
        border-right-color: rgb(205, 210, 212);
        border-bottom-color: rgb(205, 210, 212);
        border-left-color: rgb(205, 210, 212);
        border-radius: 3px;
        display: block;
        margin-bottom: 12px;
        padding: 7px;
        width: 100%;
        min-height: 35px;
        font-size: 15px;
        font-family: Helvetica, sans-serif;
    }
    select{
      width: 100%;
    }
    input:focus,textarea:focus{
      background: #fff;
      border-color: #298fca;
      box-shadow: 0 0 2px #298fca;
    }

  }
  .card-form-submit {
      input{
      background: #5aac44;
      -webkit-box-shadow: 0 1px 0 #519839;
      box-shadow: 0 1px 0 #519839;
      color: #fff;
      background: #5aac44;
      border: none;
      -webkit-box-shadow: 0 1px 0 #519839;
      box-shadow: 0 1px 0 #519839;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      line-height: 22px;
      margin: 8px 4px 0 0;
      padding: 5px 16px;
      text-align: center;
      border-radius: 2px;
      font-size: 13px;
      width: 90px;
    }
  }
  .card-form-line{
    background: #d6dadc;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    float: none;
    clear: both;
  }
  .card-form-text{
    color: #838c91;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
