#ModalHolder{
  width: 600px;
  height: auto;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  clear: both;
  padding: 10px;
  min-height: 1000px;
}
#ModalOverlay{
padding-top: 100px;
}
#ModalOverlay.active{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0,0,0,.6);
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
