#ModalHolder{
  width: 600px;
  height: auto;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  clear: both;
  padding: 10px;
}
#ModalOverlay{
}
#ModalOverlay.active{
  padding-top: 100px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0,0,0,.6);
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.moadl-header{
  .molda-card-icon{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    .icon{
      color: #838c91;
      font-size: 20px;
      width: 20px;
    }
  }
  .modal-card-name{
    float: left;
    width: 80%;
    input{
      font-weight: bold;
      font-size: 20px;
      color: #333;
      background: none;
      width: 100%;
      border: 0px;
    }
    input:focus{
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #0079bf;
      -webkit-box-shadow: 0 0 2px 0 #0284c6;
      box-shadow: 0 0 2px 0 #0284c6;
    }
  }
  .modal-close{
    float: right;
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-weight: normal;
    margin-top: -2px;
  }
}

.modal-content {
  clear: both;
  .left-content{
    float: left;
    width: 70%;
    .card-in-list{
      color: #838c91;
      text-align: left;
      clear: both;
      padding-left: 40px;
      padding-top: 10px;
      span{
        text-decoration: underline;
        cursor: pointer;
      }
      span:hover{
        color: #4d4d4d;
      }
    }
    textarea.card-comment{
      font-family: Helvetica,sans-serif;
      overflow: hidden;
      overflow-wrap: break-word;
      height: 75px;
      background: transparent none repeat scroll 0% 0% !important;
      z-index: auto;
      position: relative;
      line-height: 18px;
      font-size: 14px;
      transition: none 0s ease 0s;
      background: none;
      height: 75px;
      margin: 0;
      min-height: 75px;
      padding: 9px 11px;
      padding-bottom: 0;
      width: 100%;
      resize: none;
      resize: vertical;
      -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
      transition: background 85ms ease-in,border-color 85ms ease-in;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      background-color: #e2e4e6;
      border: 1px solid #cdd2d4;
      border-radius: 3px;
      display: block;
      background-color: #fff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.23);
      box-shadow: 0 1px 2px rgba(0,0,0,.23);
      margin: 4px 4px 12px 0;
      resize: none;
    }
    .user-profile-pic{
      background: #d6dadc;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
    }
    .modal-section-left{
      max-width: 20%;
      float: left;
    }
    .modal-section-right{
      width: 80%;
      float: left;
    }
  }
  .modal-section-header{
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    min-height: 20px;
    font-size: 20px;
    font-weight: bold;
    .icon{
      color: #999;
      float: left;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
      width: 20px;
    }
    span{
      font-size: 20px;
    }
    .right-text{
      margin-top: 4px;
      font-size: 14px;
      font-weight: normal;
      float: right;
      color: #838c91;
      text-decoration: underline;
      cursor: pointer;
      margin-right: 20px;
    }
    .right-text:hover{
      color: #4d4d4d;
    }
  }
  .right-content{
    padding-left: 10px;
    float: left;
    width: 25%;
    .modal-button{
      width: 100%;
      background: #e2e4e6;
      -webkit-box-shadow: 0 1px 0 0 #c4c9cc;
      box-shadow: 0 1px 0 0 #c4c9cc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      height: 32px;
      margin-top: 8px;
      max-width: 300px;
      overflow: hidden;
      padding: 7px 7px 7px 11px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      border-radius: 3px;
      font-weight: 700;
      .icon{
        float: left;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        width: 19px;
        color: #999;
      }
      span{
        float: left;
        font-size: 14px;
        margin-top: 3px;
      }
    }
    .modal-button:hover {
      background: #cdd2d4;
      -webkit-box-shadow: 0 1px 0 0 #a5acb0;
      box-shadow: 0 1px 0 0 #a5acb0;
      color: #4c4c4c;
    }
  }
}
