.checklist-item
  .checkbox{ class:"#{checklist_item.status}", id:"ChecklistItem#{checklist_item.id}", onclick:"updateChecklistItemStatus('#{checklist_item.id}');"}
    .icon-check.icon
  .checklist-item-name-holder
    .checklist-item-name
      = checklist_item.name
